.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  width: 107px;
  list-style: none;
  gap: 24px;
}
